<!DOCTYPE html>
<html data-ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div ng-controller="appCtrl" ng-init="count = 1;">
            <input type="text" name="name" ng-model="xxx"> {{ xxx }}
            <br>
            count: {{ count + 1}}
            <br>
            <ul>
                <li ng-repeat="(key, value) in names">
                    key: {{ key }} value: {{ value }} name: {{ values.nombre }}
                </li>
            </ul>
        </div>
        
        <script  src="./dist/angular.js" type="text/javascript"></script>
        <script src="./main.js"></script>
        <!--
        <script src="./models/persona.js"></script>
        <script src="./controllers/callback.js"></script>
        <script src="./utils/array.js"></script>
        -->
        
    </body>
</html>
